.item{
    padding: 15px 25px 0px 20px;
    display:block;
    width:100%;
    position:relative;
}

mat-chip{
    width:100%;
    background:#FFF !important;
    font-family: "Roboto-Medium";
    color:#00B286 !important;
    cursor:pointer;
}

mat-icon{
    display:inline;
    margin-right:32px;

}