.example-container {
  width: 100%;
  height: 100%;
  position:absolute;
}

.example-sidenav{
  width:250px;
  background: linear-gradient(#00B286, #0081A7);
}

.example-sidenav-content{
  background-position: right;
  height:100%;
  width:100%;
}

.mat-drawer-content{
  background:#EDF3F0;
}