@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@font-face {
  font-family: "Roboto-Medium";
  src: url("/assets/fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("/assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("/assets/fonts/gilroy-extrabold.ttf");
}

html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
}

.mat-chip-list-wrapper {
  margin: 0 !important;
}
