#topo{
    width:100%;
    position:relative;
    background:#FFF;
    height:65px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2199999988079071);
    font-size:14px;
    font-family:"Roboto-Medium";
    color:#4A4A4A;
}

.align{
    float:right;
    margin-right:70px;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}

.align i{
    margin-right:20px;
    font-size:24px;
}

@media screen and (max-width: 768px) {
    .align{
        float:left;
        left:80px;
        top: 31px;
        margin-right:0;
    }
}
  